<!-- Menu Sizes -->
<div class="grid-block grid-vertical grid-wrapper">
    <header class="grid-content grid-shrink">
        <h2 class="font-title">Menu Sizes</h2>
    </header>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Default</h3>
        <ul class="menu">
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-divider"></li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
        </ul>
    </div>

    <hr class="spacer"></hr>

    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Thin</h3>
        <ul class="menu menu-thin">
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-divider"></li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
        </ul>
    </div>

    <hr class="spacer"></hr>

    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Wide</h3>
        <ul class="menu menu-wide">
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-divider"></li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
        </ul>
    </div>
</div>

<!-- Menu Options -->

<div class="grid-block grid-vertical grid-wrapper">
    <header class="grid-content grid-shrink">
        <h2 class="font-title">Menu Options</h2>
    </header>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Borders</h3>
        <ul class="menu menu-borders">
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-divider"></li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
        </ul>
    </div>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Condensed</h3>
        <ul class="menu menu-condensed">
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-divider"></li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 1</button>
            </li>
        </ul>
    </div>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Icons</h3>
        <ul class="menu">
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-circle-o"></span>
                    <span class="menu-text">Item 1</span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-check-circle"></span>
                    <span class="menu-text">Item 2</span>
                </button>
            </li>
            <li class="menu-divider"></li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-circle-o"></span>
                    <span class="menu-text">Item 3</span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-circle"></span>
                    <span class="menu-text">Item 4</span>
                </button>
            </li>
        </ul>
    </div>
</div>

<!-- Menu States -->

<div class="grid-block grid-vertical grid-wrapper">
    <header class="grid-content grid-shrink">
        <h2 class="font-title">Menu States</h2>
    </header>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Active</h3>
        <ul class="menu menu-borders">
            <li class="menu-item menu-active">
                <button class="menu-link">item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 2</button>
            </li>
            <li class="menu-item menu-active">
                <button class="menu-link">
                    <span class="menu-icon fa fa-check-circle"></span>
                    <span class="menu-text">Item 3</span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-circle-o"></span>
                    <span class="menu-text">Item 4</span>
                </button>
            </li>
        </ul>
    </div>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Hide Active</h3>
        <ul class="menu menu-hide-active">
            <li class="menu-item menu-active">
                <button class="menu-link">item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 2</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 3</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 4</button>
            </li>
        </ul>
    </div>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Disabled</h3>
        <ul class="menu">
            <li class="menu-item">
                <button class="menu-link" disabled>Item 1</button>
            </li>
            <li class="menu-item">
                <button class="menu-link">Item 2</button>
            </li>
            <li class="menu-item">
                <button class="menu-link" disabled>
                    <span class="menu-icon fa fa-circle-o"></span>
                    <span class="menu-text">Item 3</span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-circle-o"></span>
                    <span class="menu-text">Item 4</span>
                </button>
            </li>
        </ul>
    </div>
</div>

<!-- Menu Variants -->

<div class="grid-block grid-vertical grid-wrapper">
    <header class="grid-content grid-shrink">
        <h2 class="font-title">Menu Variants</h2>
    </header>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Accordion</h3>
        <ul class="menu">
            <li class="menu-item">
                <button class="menu-link" ng-click="Menus.openMenu = '1'">Item 1</button>
                <ul class="menu" ng-show="Menus.openMenu == '1'">
                    <li class="menu-item">
                        <button class="menu-link">Submenu Item 1</button>
                    </li>
                    <li class="menu-item">
                        <button class="menu-link">Submenu Item 2</button>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <button class="menu-link" ng-click="Menus.openMenu = '2'">Item 2</button>
                <ul class="menu" ng-show="Menus.openMenu == '2'">
                    <li class="menu-item">
                        <button class="menu-link">Submenu Item 1</button>
                    </li>
                    <li class="menu-item">
                        <button class="menu-link">Submenu Item 2</button>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-text" ng-click="Menus.openMenu = '3'">Item 3</span>
                </button>
                <ul class="menu" ng-show="Menus.openMenu == '3'">
                    <li class="menu-item">
                        <button class="menu-link">Submenu Item 1</button>
                    </li>
                    <li class="menu-item">
                        <button class="menu-link">Submenu Item 2</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink overflow-visible">
        <h3 class="font-sub-title">Floating</h3>
        <button class="btn-solid" ng-click="Menus.showFloating = !Menus.showFloating;">Toggle Menu</button>
        <div class="menu-container">
            <ul class="menu menu-floating left menu-condensed" ng-show="Menus.showFloating">
                <li class="menu-item">
                    <button class="menu-link" ng-click="Menus.showFloating = false;">item 1</button>
                </li>
                <li class="menu-item">
                    <button class="menu-link" ng-click="Menus.showFloating = false;">Item 2</button>
                </li>
                <li class="menu-item">
                    <button class="menu-link" ng-click="Menus.showFloating = false;">Item 3</button>
                </li>
                <li class="menu-item">
                    <button class="menu-link" ng-click="Menus.showFloating = false;">Item 4</button>
                </li>
            </ul>
        </div>
    </div>
    <hr class="spacer"></hr>
    <div class="grid-content grid-shrink">
        <h3 class="font-sub-title">Icons Only</h3>
        <hr class="spacer"></hr>
        <ul class="menu menu-icons">
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-home"></span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-star"></span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link">
                    <span class="menu-icon fa fa-gear"></span>
                </button>
            </li>
            <li class="menu-item">
                <button class="menu-link" ng-click="Menus.logout()">
                    <span class="menu-icon fa fa-user"></span>
                </button>
            </li>
        </ul>
    </div>
</div>


