
<div class="fileloader" ng-class="{'fileloader-empty': !File.data, 'disabled': File.disabled}">

    <!-- Label -->
    <span class="fileloader-label">{{File.label || "Filename"}}{{File.required ? "*" : ""}}</span>

    <!-- Input -->
    <label>
        <input type="file"
               ng-model="File.data" blt-filemodel
               ng-disabled="File.disabled"
               ng-required="File.required"
               ng-attr-autofocus="{{File.autofocus}}"
               ng-attr-tabindex="{{File.tabindex}}">

        <div class="fileloader-input" ng-class="{'disabled': File.disabled}">
            <span class="placeholder">{{File.label || "Select File"}}{{File.required ? "*" : ""}}</span>
            <span class="filename"
                  title="{{ File.data.name }}">
                  {{ File.data.name | characters:File.charsLimit:true || 'No File Selected.' }}{{ File.fileExt }}
            </span>
        </div>

        <span class="fileloader-icon fa fa-upload"></span>

        <!-- Error Messages -->
        <p class="fileloader-error">
      <span class="fileloader-error-hide fileloader-error-required">
        This field is required.
      </span>
        </p>
    </label>
</div>
