<div class="text-field"
     ng-class="{'text-field-empty': !$ctrl.form[$ctrl.name].$viewValue}"
     ng-disabled="$ctrl.disabled">

    <!-- Form Field Label -->
    <label class="text-field-label">{{$ctrl.label + $ctrl.asterisk}}</label>

    <!-- Text area -->
    <textarea class="text-field-input"
              ng-if="$ctrl.type == 'textarea'"
              name="{{$ctrl.name}}"
              rows="{{$ctrl.rows}}"
              placeholder="{{$ctrl.label + $ctrl.asterisk}}"
              ng-change="$ctrl.onChange()"
              ng-disabled="$ctrl.disabled"
              ng-model="$ctrl.model"
              ng-required="$ctrl.required"
              blt-validate="$ctrl.validate"
              ng-attr-autocomplete="{{$ctrl.autocomplete}}"
              ng-attr-autocorrect="{{$ctrl.autocorrect}}"
              ng-attr-autofocus="{{$ctrl.autofocus}}"
              ng-attr-maxlength="{{$ctrl.maxlength}}"
              ng-attr-minlength="{{$ctrl.minlength}}"
              ng-attr-pattern="{{$ctrl.pattern}}"
              ng-attr-spellcheck="{{$ctrl.spellcheck}}"
              ng-attr-tabindex="{{$ctrl.tabindex}}"
    >
    </textarea>

    <!-- Default Inputs -->
    <input class="text-field-input"
           ng-if="$ctrl.type != 'textarea'"
           name="{{$ctrl.name}}"
           type="{{$ctrl.type}}"
           placeholder="{{$ctrl.label + $ctrl.asterisk}}"
           ng-change="$ctrl.onChange()"
           ng-disabled="$ctrl.disabled"
           ng-model="$ctrl.model"
           ng-required="$ctrl.required"
           blt-validate="$ctrl.validate"
           ng-attr-autocomplete="{{$ctrl.autocomplete}}"
           ng-attr-autocorrect="{{$ctrl.autocorrect}}"
           ng-attr-autofocus="{{$ctrl.autofocus}}"
           ng-attr-max="{{$ctrl.max}}"
           ng-attr-maxlength="{{$ctrl.maxlength}}"
           ng-attr-min="{{$ctrl.min}}"
           ng-attr-minlength="{{$ctrl.minlength}}"
           ng-attr-pattern="{{$ctrl.pattern}}"
           ng-attr-spellcheck="{{$ctrl.spellcheck}}"
           ng-attr-step="{{$ctrl.step}}"
           ng-attr-tabindex="{{$ctrl.tabindex}}"
    >

    <!-- Form Field Error Messages -->
    <p class="text-field-error">
        <span class="text-field-error-hide text-field-error-required">This field is required.</span>
        <span class="text-field-error-hide text-field-error-email">Not a valid email address.</span>
        <span class="text-field-error-hide text-field-error-url">Not a valid url.</span>
        <span class="text-field-error-hide text-field-error-minlength">Cannot be less than {{$ctrl.minlength}} characters.</span>
        <span class="text-field-error-hide text-field-error-maxlength">Cannot be more than {{$ctrl.maxlength}} characters.</span>
        <span class="text-field-error-hide text-field-error-min">Cannot be less than {{$ctrl.min}}.</span>
        <span class="text-field-error-hide text-field-error-max">Cannot be more than {{$ctrl.max}}.</span>
        <span class="text-field-error-hide text-field-error-pattern">{{$ctrl.form[$ctrl.name].$viewValue}} is not valid.</span>
        <span ng-show="$ctrl.form[$ctrl.name].$viewValue && $ctrl.form[$ctrl.name].$error[$ctrl.validate.name]">{{$ctrl.errorMsg}}</span>
    </p>
</div>